.App {
  text-align: center;
}

.App-header h1 {
  font-size: 4em;
}

.App-header h1, .App-footer {
  font-family: "Gloria Hallelujah", cursive;
  line-height: 1.1;
  color: #ffffe0;
  text-shadow: 1px 3px 3px #000;
}

.App-footer {
  font-size: 1.35em;
  padding-top: 15px;
  font-weight: 600;
}

@media (min-width: 551px) and (max-width: 700px) {
  .App-header h1 {
    font-size: 3.5em;
  }
}

@media (min-width: 450px) and (max-width: 550px) {
  .App-header h1 {
    font-size: 3em;
  }
}

@media (max-width: 449px) {
  .App-header h1 {
    font-size: 2.5em;
  }
}