.modal-outer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.fade {
  z-index: -1;
  opacity: 0;
  transition: all 0.35s linear;
}

.hidden {
  z-index: -1;
  opacity: 0;
}

.show {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.7s ease-in;;
}

.hide {
  display: none;
}

@media (min-width: 550px) and (max-width: 900px) {
  .modal {
    width: 75vw;
  }
}

@media (max-width: 549px) {
  .modal {
    width: 100vw;
  }
}