.board-font {
	font-family: 'Indie Flower', cursive;
  font-size: 6em;
  margin: 0;
  line-height: 1;
  color: #e6e6e6;
  width: 100px;
  height: 100px;
}

.each-square {
  background-color: #1a1a1a;
}