.board-font {
	font-family: 'Indie Flower', cursive;
  font-size: 6em;
  margin: 0;
  line-height: 1;
  color: #e6e6e6;
  width: 100px;
  height: 100px;
}

.each-square {
  background-color: #1a1a1a;
}

.each-square:hover {
  cursor: pointer;
}

@media (min-width: 351px) and (max-width: 405px) {
  .board-font {
    font-size: 4.65em;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 350px) {
  .board-font {
    font-size: 4em;
    width: 70px;
    height: 70px;
  }
}