.end-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25vh;
  width: 50vw;
  max-width: 500px;
  height: 290px;
  background-color: #d9d9d9;
  color: #000;
}

.end-modal .winner-text {
  font-family: 'Indie flower';
  font-size: 4em;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 3px;
}

@media (min-width: 550px) and (max-width: 900px) {
  .end-modal {
    width: 75vw;
  }
}

@media (max-width: 549px) {
  .end-modal {
    width: 100vw;
  }
}