.scoreBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 70px;
  width: 370px;
  height: 110px;
  background-color: #1a1a1a;
}

.scoreBoard h3, .scoreTally {
  margin: 0px;
  font-family: 'Gloria Hallelujah', 'Indie flower', serif;
  text-align: left;
  line-height: 1;
}

.scoreBoard h3 {
  padding: 5px 20px;
  font-weight: 400;
  font-size: 1.3em;
  align-self: center;
  color: #4c4d00;
}

.scoreBoard h3:nth-child(2) {
  text-align: right;
}

.scoreTally {
  font-size: 2.4em;
  font-weight: 800;
  margin-top: -4px;
  padding-left: 43px;
  align-self: start;
  color: #4c4d00;
}

.scoreBoard p:nth-child(4) {
  text-align: right;
  padding-right: 63px;
}

.scoreBoard .currentTurn {
  color: yellow;
}

@media (min-width: 351px) and (max-width: 405px) {
  .scoreBoard {
    width: 310px;
  }
}

@media (max-width: 350px) {
  .scoreBoard {
    width: 280px;
  }
}