.outsideGameArea {
  padding: 20px 30px;
  background-color: #1a1a1a;
}

.gridLines {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
  background-color: #2e2e2e;
}

.outsideGameArea, .gridLines {
  width: 310px;
}

@media (min-width: 351px) and (max-width: 405px) {
  .gridLines {
    grid-template-columns: 80px 80px 80px;
  }

  .outsideGameArea, .gridLines {
    width: 250px;
  }
}

@media (max-width: 350px) {
  .gridLines {
    grid-template-columns: 70px 70px 70px;
  }

  .outsideGameArea, .gridLines {
    width: 220px;
  }
}