.outsideGameArea {
  padding: 20px 30px;
  background-color: #1a1a1a;
}

.gridLines {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
  background-color: #2e2e2e;
}

.outsideGameArea, .gridLines {
  width: 310px;
}